<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Instructors</title>
</head>
<body>
    <div class="content">
        <ul class="breadcrumbs">
            <li> <a href="/"> Dash</a> </li>
            <li> / </li>
            <li> Instructors </li>
        </ul>
        <h1> Instructors </h1>

        <section class="dataTable">
            <table class="data">
                <tr>
                    <th>Instructor ID</th>
                    <th>Name</th>
                    <th>Belt Rank</th>
                    <th>Actions</th>
                </tr>
                <% instructors.forEach(instructor => { %>
                <tr>
                    <td><%- instructor.Instructor_ID %></td>
                    <td><%- instructor.F_Name %> <%- instructor.L_Name %></td>
                    <td><%- instructor.Belt_Rank %></td>
                    <td><a href="/instructors/view/<%- instructor.Instructor_ID %>">View</a></td>
                </tr>
                <% }) %>
            </table>
        </section>
    </div>
</body>
</html>
