<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Instructor Details</title>
</head>
<body>

<div class="content">
    <ul class="breadcrumbs">
        <li><a href="/">Dashboard</a></li>
        <li>/</li>
        <li><a href="/instructors">Instructors</a></li>
        <li>/</li>
        <li>Instructor Details</li>
    </ul>

    <h1>Instructor Details</h1>

    <% if (instructor) { %>
        <div class="instructor-details">
            <h2><%= instructor.F_Name %> <%= instructor.L_Name %></h2>
            <ul>
                <li>Instructor ID: <%= instructor.Instructor_ID %></li>
                <li>Qualifications:</li>
                <ul>
                    <% qualifications.forEach(q => { %>
                        <li><%= q.Qualification %></li>
                    <% }) %>
                </ul>
                <li>Belt Rank: <%= instructor.Belt_Rank %></li>
            </ul>
        </div>
    <% } else { %>
        <p>Instructor not found.</p>
    <% } %>

</div>

</body>
</html>
