<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Edit Member</title>
</head>
<body>

    <div class="content">
        <ul class="breadcrumbs">
            <li><a href="/">Dashboard</a></li>
            <li>/</li>
            <li><a href="/members">Members</a></li>
            <li>/</li>
            <li>Edit Member</li>
        </ul>

        <h1>Edit <%= member.Stu_FName %> <%= member.Stu_LName %></h1>
        <h3><%= message %></h3>

        <form method="post" class="edit_form">
          
            <p>
                <label for="Belt_Rank">Update Belt Rank:</label>
                <select name="Belt_Rank" id="Belt_Rank" required>
                    <% ['White', 'Yellow', 'Orange', 'Green', 'Blue', 'Brown', 'Black'].forEach(rank => { %>
                        <option value="<%= rank %>" <%= member.Belt_Rank === rank ? 'selected' : '' %>>
                            <%= rank %>
                        </option>
                    <% }); %>
                </select>
            </p>

           
            <p>
                <label for="Monthly_Fee">Update Monthly Fee:</label>
                <input type="number" name="Monthly_Fee" id="Monthly_Fee" value="<%= member.Monthly_Fee %>" required>
            </p>

      
            <p>
                <label for="Team_ID">Update Team ID:</label>
                <input type="number" name="Team_ID" id="Team_ID" value="<%= member.Team_ID %>" required>
            </p>

           
            <input type="submit" value="Update">
        </form>

    </div>

</body>
</html>
